<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
  <title>Sign Up</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<hr>
<div class="container bootstrap snippet">
    
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              

    
         
      </div></hr><br>        
          
          
        </div><!--/col-3-->
    	<div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
              </ul>

              
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                  <form class="form" action="/register" enctype="multipart/form-data" method="POST" id="registrationForm">
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="username"><h4>Username</h4></label>
                              <input type="text" class="form-control" name="username" id="username">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="name"><h4>Name</h4></label>
                              <input type="text" class="form-control" name="name" id="name">
                          </div>
                      </div>
          
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="kissan"><h4>Kissan ID</h4></label>
                              <input type="text" class="form-control" name="kissan" id="kissan">
                          </div>
                      </div>
          
                      <div class="form-group">
                          <div class="col-xs-6">
                             <label for="aadhar"><h4>Aadhaar</h4></label>
                              <input type="text" class="form-control" name="aadhar" id="aadhar">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Email</h4></label>
                              <input type="email" class="form-control" name="email" id="email">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="state"><h4>State</h4></label>
                              <input type="text" class="form-control" name="state" id="state">
                          </div>
                      </div>
                      
                      <div class="form-group">
                          
                              <div class="col-xs-6">
                                  <label for="district"><h4>District</h4></label>
                                  <input type="text" class="form-control" name="district" id="district">
                              </div>
                        </div>  

                        <div class="form-group">
                          
                                    <div class="col-xs-6">
                                        <label for="taluk"><h4>Taluk</h4></label>
                                        <input type="text" class="form-control" name="taluk" id="taluk">
                                    </div>
                              </div>
                              
                        <div class="form-group">
                        
                                    <div class="col-xs-6">
                                          <label for="village"><h4>Village</h4></label>
                                          <input type="text" class="form-control" name="village" id="village">
                                    </div>
                              </div>  
                        <div class="form-group">
                        
                                    <div class="col-xs-6">
                                          <label for="dob"><h4>Date of Birth</h4></label>
                                          <input type="date" class="form-control" name="dob" id="dob">
                                    </div>
                              </div>   
                        <div class="form-group">
                        
                                    <div class="col-xs-6">
                                          <label for="gender"><h4>Gender</h4></label><br>
                                          <input type="radio" name="gender" id="gender" value="female"> &nbsp Female <br>
                                          <input type="radio" name="gender" id="gender" value="male"> &nbsp Male <br>
                                          <input type="radio" name="gender" id="gender" value="others"> &nbsp Other
                                    </div>
                              </div>                     

                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="pwd"><h4>Password</h4></label>
                              <input type="password" class="form-control" name="pwd" id="pwd">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="repwd"><h4>Re-enter Password</h4></label>
                              <input type="password" class="form-control" name="repwd" id="repwd">
                          </div>
                      </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit" href="/"><i class="glyphicon glyphicon-ok-sign"></i> Submit</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
              	</form>
              
              <hr>
              
             </div><!--/tab-pane-->
                    
              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
                                                      